// =============================
// styles/main.scss
// Master stylesheet importing all partials
// =============================

@use 'variables/colors';
@use 'variables/typography';
@use 'variables/spacing';
@use 'variables/mixins';
@use 'variables/themes';

@use 'base/reset';
@use 'base/globals';

@use 'layout/container';
@use 'layout/sections';

@use 'components/buttons';
@use 'components/utilities';
@use 'components/services';
@use 'components/nav';
@use 'components/footer';

@use 'pages/about_contact';
@use 'pages/services';