// =============================
// styles/main.scss
// Master stylesheet importing all partials
// =============================

@import 'variables/colors';
@import 'variables/typography';
@import 'variables/spacing';
@import 'variables/mixins';
@import 'variables/themes';

@import 'base/reset';
@import 'base/globals';

@import 'layout/container';
@import 'layout/sections';

@import 'components/buttons';
@import 'components/utilities';
@import 'components/services';
@import 'components/nav';
@import 'components/footer';

@import 'pages/about_contact';
@import 'pages/services';