.section-intro {
  width: 100%;
  padding: 3rem 0rem ;
  text-align: center;
  background: var(--surface-dark);
  border-bottom: 1px solid var(--border);

  &__inner {
    max-width: 800px;
    margin: 0 auto;
  }

  h2 {
    font-size: 2rem;
    color: var(--text-primary);
    margin-bottom: 1rem;
    font-weight: 100;
  }

  h3 {
    font-size: 1.3rem;
    color: var(--text-secondary);
    font-weight: 400;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: var(--text-secondary);
    line-height: 1.6;
  }
}