.nav {
  width: 100%;
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--surface);
  border-bottom: 1px solid var(--accent);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background var(--transition-fast), border var(--transition-fast);



  &__links {
    display: flex;
    gap: 2rem;
    align-items: center;

    a {
      color: var(--text-primary);
      font-weight: 500;
      text-decoration: none; // remove browser default underline
      position: relative;
      padding-bottom: 0.2rem; // space for underline
      transition: color var(--transition-fast), opacity var(--transition-fast);

      &:hover {
        color: var(--accent);
        font-weight: 600;
        opacity: 0.9;
      }

      &.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0px;
        width: 100%;
        height: 2px;
        background: var(--accent);
        border-radius: 2px;
        transition: width var(--transition-fast);
      }
    }

    &--open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: var(--surface);
      border-bottom: 1px solid var(--border);
      padding: 1rem 2rem;
      gap: 1rem;
    }
  }

  &__toggle {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-primary);
    font-size: 1.75rem;
    transition: color var(--transition-fast);
    
    &:hover {
      color: var(--accent);
    }

    .nav__toggle-icon {
      display: block;
    }
  }

  @media (max-width: 768px) {
    &__links {
      display: none;

      &--open {
        display: flex;
      }
    }

    &__toggle {
      display: block;
    }
  }
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
  text-decoration: none;      // remove default underline
  position: relative;          // needed for pseudo-element

  &.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;             // distance from text
    width: 100%;
    height: 2px;
    background: var(--accent);
    border-radius: 2px;
    transition: width var(--transition-fast);
  }

  &:hover {
    opacity: 0.9;        
    color: var(--accent); 
  }
}